<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app" >
        <input v-model="message"/>
        <p v-bind:log="loga">로고</p>
        <p v-bind:id="uid">아이디</p>
        <button v-on:click="clickBtn">버튼</button>

        <ul v-if="flag">
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
    </div>
    <script>
        var app = new Vue({
            el:'#app',
            data: 
              {  message : '권오재',
                loga : '안냥',
                uid : "20",
                flag : true,
            },
            methods: {
                clickBtn: function() {
                   return console.log("hi");
                }
        }    
        })
       
           
        
    </script>
</body>
    
</html>